body	{
	background-color: #504946;
	margin: 0px;
}
a {
  text-decoration: none;
}

hr {
  border: none;
	height: 1px;
  line-height: 1px;
	background: #bababa;
	padding: 0;
  margin: 20px 5px;
}

h1  {
  font-size: 42px;
	font-weight: bold;
	color: #504946;
	text-shadow: -1px -1px rgba(0,0,0,0.1);
	text-align: center;
	padding: 10px;
}
#fork_banner  {
  position: absolute;
}

#wrapper	{
	width: 100%;
	min-height: 730px;
	background-color: #fff;
	border-top: 1px solid #504946;
	border-bottom: 1px solid #504946;
	margin: 50px 0px 50px 0px;
	box-shadow: inset 0px 2px 5px rgba(0,0,0,0.2), inset 0px -2px 5px rgba(0,0,0,0.2);
}

#title_div	{
	width: 600px;
	height: 50px;
	margin: 20px auto 10px auto;
}

#content	{
	width: 700px;
	min-height: 530px;
	margin: 30px auto 40px auto;
	padding: 30px;
	background-color: #e3e3e3;
	border-radius: 5px;
	box-shadow: inset 1px 1px 0px rgba(0,0,0,0.05), -1px -1px 0px rgba(0,0,0,0.1);
  font-size: large;
	font-weight: bold;
	color: #504946;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.3);
}
#content a  {
  color: #3A90C0;
}

#content a:hover  {
  text-decoration: underline;
}

#id_list  {
}

#id_list li {
  margin: 3px auto;
}

#make_list  {
  width: 100%;
}
#makelist #items img  {
  display: block;
  width: 300px;
  margin: 5px 30px;
}
#make_list span {
  display: block;
}
#make_list a img {
	border: 1px solid #BBB;
	padding: 2px;
}