---
title: About taiki45
---

<a href="https://github.com/taiki45" target="_blank">
  <img src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub" id="fork_banner">
</a>
<div id="wrapper">
  <div id="title_div">
    <h1>about taiki45</h1>
  </div>
  <div id="content">
    <h2>Accounts</h2>
    <div id="id_list">
      <ul type="circle">
        <a href="https://github.com/taiki45" target="_blank"><li>github: taiki45</li></a>
        <a href="https://twitter.com/taiki45" target="_blank"><li>Twitter: @taiki45</li></a>
        <a href="https://twitter.com/taiki45tech" target="_blank"><li>Twitter: @taiki45tech</li></a>
        <a href="http://qiita.com/taiki45" target="_blank"><li>Qiita: taiki45</li></a>
        <a href="http://toufuegg.hatenablog.com/" target="_blank"><li>hatena blog: aladhi</li></a>
        <a href="http://taiki45.tumblr.com/" target="_blank"><li>tumblr: taiki45</li></a>
      </ul>
    </div>
    <h2>Description</h2>
    <p>I love Ruby and Haskell, and all programming languages which have Lisp-smell. And yes, I love Scheme.</p>
    <p>I love programming and I programming to make people's life much happy and fun. I like to solve problems and to offer useful somethig which solves problems.</p>
    <p>OSS and the community gave me a lot and I really thank that. So I want and do contribute OSS and community.</p>
    <p>I am always looking forward interesting something :)</p>
  </div>
</div>

